<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
     
      <!--CASA-->
      
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-PICJCLR\SQLEXPRESS;Initial Catalog=MOTO;Integrated Security=True"
            providerName="System.Data.SqlClient" /> 
            
      <!--MOTO FLASH LA QUE FUNCIONA-->
      <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=MOTOFLASH4;Initial Catalog=MOTO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
               -->
       <!--VICENTE LOPEZ-->
        <!--
          <add name="Concesionaria.Properties.Settings.CONCESIONARIAConnectionString"
            connectionString="Data Source=DESKTOP-HSVKL2A\SQLEXPRESS;Initial Catalog=AUTOCENTRO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
           -->
    </connectionStrings>
</configuration>